// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.remove, .edit {
	background: none;
	color: #fff;
	border: 0;
	width: 10px;
}
.edit {
	width: 15px;
}

.storeItem{
	
}