<h1>Stores</h1>

<% @stores.each do |store| %>
  <div class="storeItem">
    <span><%= link_to store.name, store%></span>
    <span><%= link_to image_tag("delete.gif", :border=>0, :class => 'remove'), store, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
<% end %>

<br />

<%= link_to 'New Store', new_store_path %>
